/*
 * menu.css for index.html
 */

menubar {
    position: fixed;
    top: 0;
    left: 0; right: 0;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-weight: 100;
    height: 27px;
    line-height: 27px;
    font-size: 14px;
    padding-left: 8px;
    z-index: 999;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    white-space: nowrap;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
menubar > parent {
    display: inline-block;
    cursor: default;
/*    border: 1px solid black;*/
}
menubar > parent > img.arrow {
    display: none;
}
menubar > parent:first-child title {
    font-weight: bold;
}
menubar > parent:hover > title {
    color: #ff8080;
    background-color: #ff8080;
    color: white;
}
menubar title {
    display: block;
}
menubar > parent > title {
    display: block;
    padding: 0px 9px 0 9px;
}
menubar children {
    display: none;
    position: absolute;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
/*    z-index: -1;*/
}
menubar children > *:not(divider) {
    display: block;
    padding-left: 25px;
    padding-right: 60px;
    position: relative;
/*    height: 27px;*/
}
menubar children img.icon, menubar children svg.icon {
    height: 12px;
    width: 12px;
    position: absolute;
    left: 0px;
    top: calc(50% - 8px);
    left: 7px;
    vertical-align: middle;
}
menubar children > *:not(divider):hover {
    background-color: #cff2ff;
}

menubar children > *:not(divider)[enabled=false] {
    color: rgba(0, 0, 0, 0.3);
    background-color: transparent;
}

menubar children > *:not(divider)[enabled=false] img.icon {
    opacity: 0.2;
}

menubar parent:hover > children {
    display: block;
}

menubar children divider {
    display: block;
    width: 100%;
    height: 1px;
    margin: 5px 0 5px 0;
    background-color: rgba(0, 0, 0, 0.12);
}

menubar parent parent children {
    top: -5px;
    left: 100%;
}

menubar .checkbox img.icon {
    opacity: 0;
}
menubar .checkbox.checked img.icon {
    opacity: 1;
}

menubar img.arrow {
    position: absolute;
    top: calc(50% - 6px); right: 15px;
    opacity: 0.8;
    height: 8px;
    width: 8px;
    vertical-align: middle;
}
