/*
 * status.css for index.html
 */

#status {
    position: fixed;
    left: 0; right: 0;
    bottom: 0;
    z-index: 999;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: white;
    color: rgba(0, 0, 0, 0.55);
    opacity: 1;
    box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.1);
    
    z-index: 999;
}
