/*
 * toolbar.css for index.html of http://OpenJSCAD.org/
 */

#toolbar, #toolbar .pin {
   transition: all 0.25s;
   -o-transition: all 0.25s;
   -moz-transition: all 0.25s;
   -webkit-transition: all 0.25s;
}

#toolbar {
    position: fixed;
    top: 27px;      /* don't invade the menu */
    bottom: 22px;   /* don't invade the status bar */
    left: -70px;
    width: 90px;

    background: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    padding: 20px;
    z-index: 5;
    font-size: 0.9em;
    box-shadow: 2px 0 6px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 0 6px rgba(0,0,0,0.1);
    -webkit-box-shadow: 2px 0 6px rgba(0,0,0,0.1);
}

#toolbar:hover {
   left: 0 !important;  /* slide out */
}

#toolbar > div {
    margin-bottom: 10px;
}

#toolbar img {
    width: 100%;
    opacity: 0.8;
}

#toolbar img:hover {
    opacity: 1;
}

#toolbar .pin {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.76);
    position: absolute;
    top: 5px;
    right: -27px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
/*    transform: rotate(45deg);*/
}

#toolbar .pin img {
    opacity: 0.25;
}

#toolbar:hover .pin {
    opacity: 1;
}